<div class="home-page">

  <section class="hero">

    <h1 class="hero-title">SkillSwap</h1>

    <p class="hero-subtitle">
      A modern platform where clients and freelancers connect,
      exchange skills, collaborate on projects, and grow together.
    </p>

    <div class="hero-buttons">

      
      @if (!isLoggedIn()) {
        <a class="secondary-btn" routerLink="/login">
          Login
        </a>

        <a class="secondary-btn" routerLink="/register">
          Create Account
        </a>
      }

      @if (isLoggedIn()) {
        <a class="secondary-btn" routerLink="/jobs/new">
          Post Job
        </a>

       
      }

    </div>

  </section>

  <section id="jobs-section" class="jobs-preview">
    <app-jobs></app-jobs>
  </section>

 

</div>